body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	
}
.main1{
	width: 350px;
	height: 532px;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 2px 5px 10px #000;
	background: linear-gradient(to bottom, #7F5A83, #0D324D);
}

.msg{
    text-align: center;
    position: absolute;
      top: -10px;
    right: 110px;
    color: black;
    font-style: italic;
    font-family: fantasy;
}
.a1{
    color: black;
    position: relative;
    top: 14px;
}
#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
margin-top: 49px;
}

.input-signup{
	width: 60%;
	height: 20px;
	background: white;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
.sign-btn{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
.sign-btn:hover{
	background: #6d44b8;
}
.loginhere{
	height: 360px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-160px);
  justify-content: center;
  text-align: center;

	
}
/* .login label{
	color: #573b8a;
	transform: scale(.6);
} */

/* #chk:checked ~ .login{
	transform: translateY(-500px);
}
#chk:checked ~ .login label{
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	transform: scale(.6);
} */